form {
  max-width: 420px;
  margin: 0 auto;
  &:not(.search__form) {
    padding: 30px;
    background: linear-gradient(#8474a1, $bg);
    border-radius: 10px;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
}

input:not([type="range"]),
input[type="submit"] {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(#6ec6ca, #ccabd8);
  margin-bottom: 5px;
  font-size: 16px;
  color: #183e5c;
  width: 90%;
  &::placeholder {
    color: #8d8e9a;
  }
}

input[type="submit"],
.social__btn {
  margin-top: 15px;
  border-radius: 5px;
  padding: 12px 20px;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  color: rgba($color: $red, $alpha: 1);
  text-align: center;
  cursor: pointer;
  display: block;
  border: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
